{%verbatim%}
<div class="row bundle-entities">
  <div class="large-12 columns" ng-show="!entityLoaded">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="large-2 columns entity-side" ng-show="entityLoaded">
    <h4>Entitées</h4>
    <ul class="side-nav">
     <li><a href="#/bundle/{{bundle.id}}/entity/new">Ajouter</a></li>
    </ul>
  </div>
    <div class="large-10 columns">
    	<article ng-repeat="entity in entities" class="entity">
        <h4><a href="#/bundle/{{bundle.id}}/entity/{{entity.id}}">{{entity.name}}</a><hr></h4>
      	<p>
      			{{entity.description}}
      	</p>
        <hr>
        <ul class="inline-list icons">
          <li><i class="fa fa-list"></i> {{entity.fields.length}} Champs</li>
          <li><i class="fa fa-exchange"></i> {{entity.main_relations.length}} Relations</li>
        </ul>
      	</article>
    </div>
</div>
{%endverbatim%}