{% verbatim %}

<div class="row project-bundles">
  <div class="col-md-12">
    <article class="bundle">
      <h4><a href="{{$state.href('spm.bundle.show.entity.show',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">{{entity.name}}</a> ( table={{entity.table_name}} )<hr></h4>
      <div class="row">  
        <div ui-view class="col-md-12">
          <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Nom Bdd</th>
                <th>Nullable</th>
                <th>Unique</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
                <th></th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="field in entity.fields">
                <td><a href="{{$state.href('spm.bundle.show.entity.show.field.edit',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId,fieldId: field.id})}}">{{field.name}}</a></td>
                <td>{{field.description}}</td>
                <td>{{field.type}}</td>
                <td>{{field.db_name}}</td>
                <td><span ng-show="field.options.nullable == true">Nullable</span></td>
                <td><span ng-show="field.options.unique == true">Unique</span></td>
                <td>{{field.options.length}}</td>
                <td>{{field.options.precision}}</td>
                <td>{{field.options.scale}}</td>
                <td><button ng-click="repoDelete(field);" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
              </tr>
            </tbody> 
          </table>
          </div>
          <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Champ</th>
                <th>Entité</th>
                <th>Champ lié</th>
                <th>Type</th>
                <th>Bidirectionnel</th>
                <th>Join Column</th>
                <th></th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="relation in entity.main_relations">
                <td><a href="{{$state.href('spm.bundle.show.entity.show.relation.edit',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId,relationId: relation.id})}}">{{relation.options.mainfield}}</a></td>
                <td>{{relation.inversed_entity.name}}</td>
                <td>{{relation.options.invertedfield}}</td>
                <td>{{relation.type}}</td>
                <td>{{relation.options.bidirectionnal}}</td>
                <td>{{relation.options.joincolumn}}</td>
                <td><button ng-click="repoDelete(relation);" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
              </tr>
            </tbody> 
          </table>
          </div>
          <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Champ</th>
                <th>Entité</th>
                <th>Champ lié</th>
                <th>Type</th>
                <th>Bidirectionnel</th>
                <th>Join Column</th>
                <th></th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="relation in entity.inversed_relations">
                <td><a href="{{$state.href('spm.bundle.show.entity.show.relation.edit',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId,relationId: relation.id})}}">{{relation.options.inversedfield}}</a></td>
                <td>{{relation.main_entity.name}}</td>
                <td>{{relation.options.mainfield}}</td>
                <td>{{relation.type}}</td>
                <td>{{relation.options.bidirectionnal}}</td>
                <td>{{relation.options.joincolumn}}</td>
                <td><button ng-click="repoDelete(relation);" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
              </tr>
            </tbody> 
          </table>
          </div>
      </div> 
      <div class="col-md-12">
          <ul class="nav nav-pills">
              <li><a href="{{$state.href('spm.bundle.show.entity.show.field.create',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">Ajouter un Champ</a></li>
              <li><a href="{{$state.href('spm.bundle.show.entity.show.relation.create',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">Ajouter une Relation</a></li>
          </ul>
      </div>      
    </div>
  </article>
</div>
</div>
{% endverbatim %}