{% verbatim %}
<div class="row project-bundles">
  <div class="large-12 columns" ng-show="!entityLoaded">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="large-12 columns" ng-show="entityLoaded">
    <article class="bundle">
      <h4><a href="{{$state.href('spm.bundle.show.entity.show',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">{{entity.name}}</a> ( table={{entity.table_name}} )<hr></h4>
      <div class="row">  
        <div ui-view class="large-10 columns">
          <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Nom Bdd</th>
                <th>Nullable</th>
                <th>Unique</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="field in entity.fields">
                <td>{{field.name}}</td>
                <td>{{field.description}}</td>
                <td>{{field.type}}</td>
                <td>{{field.db_name}}</td>
                <td>{{field.nullable}}</td>
                <td>{{field.unique}}</td>
                <td>{{field.length}}</td>
                <td>{{field.precision}}</td>
                <td>{{field.scale}}</td>
              </tr>
            </tbody> 
          </table>
          <table>
            <thead>
              <tr>
                <th>Champ</th>
                <th>Entité</th>
                <th>Champ lié</th>
                <th>Type</th>
                <th>Bidirectionnel</th>
                <th>Join Column</th>
                <th>Join Table</th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="relation in entity.main_relations">
                <td>{{relation.main_field}}</td>
                <td>{{relation.linked_entity.name}}</td>
                <td>{{relation.linked_field}}</td>
                <td>{{relation.type}}</td>
                <td>{{relation.bidirectionnal}}</td>
                <td>{{relation.join_column}}</td>
                <td>{{relation.join_table}}</td>
              </tr>
            </tbody> 
          </table>
          <table>
            <thead>
              <tr>
                <th>Champ</th>
                <th>Entité</th>
                <th>Champ lié</th>
                <th>Type</th>
                <th>Bidirectionnel</th>
                <th>Join Column</th>
                <th>Join Table</th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="relation in entity.linked_relations">
                <td>{{relation.linked_field}}</td>
                <td>{{relation.main_entity.name}}</td>
                <td>{{relation.main_field}}</td>
                <td>{{relation.type}}</td>
                <td>{{relation.bidirectionnal}}</td>
                <td>{{relation.join_column}}</td>
                <td>{{relation.join_table}}</td>
              </tr>
            </tbody> 
          </table>
      </div> 
      <div class="large-2 columns">
          <h4>Entitée</h4>
          <ul class="side-nav">
              <li><a href="{{$state.href('spm.bundle.show.entity.show.field.create',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">Ajouter un Champ</a></li>
              <li><a href="{{$state.href('spm.bundle.show.entity.show.relation.create',{bundleId: $stateParams.bundleId,entityId: $stateParams.entityId})}}">Ajouter une Relation</a></li>
          </ul>
      </div>      
    </div>
  </article>
</div>
</div>
{% endverbatim %}