
<div class="row">
    <div class="large-12 columns">
        <h1>Skimia Project Manager ( v {{version}}.{%verbatim%}{{getRev()}}{%endverbatim%} )</h1>
        <div class="panel">
          <p>By Kessler & STiiTCH</p>
        </div>
    	<article>
      		{%verbatim%}
      		<div ng-repeat="revision in commits">
                    <div class="panel">
                        <h3>{{revision.commit.message}}</h3>
                        <h5>Commit : {{revision.sha}}</h5>
                        <p>By {{revision.committer.login}}</p>
                        <p><a href="{{revision.url}}">Voir plus</a></p>
                    </div>
      		</div>
                {% endverbatim %}
      	</article>
    </div>
  </div>