<div class="color purple first">
  <div class="row">
    <div class="large-12 columns">
      <h1>v {{version}}.{%verbatim%}{{getRev()}}{%endverbatim%}</h1>    
    </div>
    {%verbatim%}
    <div ng-repeat="revision in commits" class="large-12 columns">
      <div class="panel row martop-10">
        <div class="large-3 columns author">
          <img class="avatar" src="{{revision.author.avatar_url}}&s=100"/>
          <h4>{{revision.committer.login}}</h4>
        </div>
        <div class="large-9 columns">
          <h3>{{revision.commit.message}}</h3>
          <h5>Commit : {{revision.sha}}</h5>
          <p><a href="{{revision.url}}">Voir plus</a></p>
        </div>
      </div>
    </div>
    {% endverbatim %}
  </div>
</div>