{% verbatim %}
<div class="row project-bundles">
  <div class="col-md-2 project-side">
    <h4>Bundles</h4>
    <ul class="nav nav-pills nav-stacked">
     <li><a href="{{$state.href('spm.bundle.create')}}">Ajouter</a></li>
    </ul>
  </div>
  <div class="col-md-10">
   <article ng-repeat="bundle in project.bundles" class="bundle">

    <div ng-if="bundle.projects.length > 1">
      <ul class="list-inline right share">
        <li><i class="fa fa-share"></i></li>
        <li ng-repeat="project in bundle.projects">{{project.name}}</li>
      </ul>
    </div>
    <h4><a href="{{$state.href('spm.bundle.show',{bundleId:bundle.id})}}">{{bundle.name}}</a>
    <span class="pull-right"><button ng-click="repoDelete(bundle);" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></span>
    <hr></h4>
    <p>{{bundle.description}}</p>
    <hr>
    <ul class="list-inline icons">
      <li><a href="{{$state.href('spm.bundle.show.entity.list',{bundleId:bundle.id})}}"><i class="fa fa-archive"></i> {{bundle.entities.length}} Entitées</a></li>
      <li><i class="fa fa-cogs"></i> {{bundle.entities.length}} Controlleurs</li>
    </ul>
  </article>
  </div>
</div>
{% endverbatim %}