<!doctype html>
<html class="no-js" lang="en" ng-app="SkimiaProjectManager">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title ng-bind="$state.current.title + ' | Skimia Project Manager'">SPM</title>
  {% stylesheets 
  'ccss/*.css' 
  '@SkimiaAngularBundle/Resources/public/css/loading-bar.css'
  '@SkimiaAngularBundle/Resources/public/css/flash-message.css'
  '@SkimiaAngularBundle/Resources/public/css/prettify.css'
  filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
</head>
<body ng-controller="MainCtrl">
  <div id="login-holder">
    <div class="modal-bg" ng-click="hideLogin()">
    </div>
    <div class="modal-container">
      <div class="modal-dialog">
        <form ng-submit="login()">
          <div class="modal-header">
            <h4>Contenu Protégé</h4>
          </div>
          <div class="modal-body">
            <label for="ident">Username</label>
            <input id="ident" type="text" ng-model="auth['ident']"/>
            <label for="password">Password</label>
            <input id="password" type="password" ng-model="auth['password']"/>
          </div>
          <div class="modal-footer">
            <input type="submit" class="modal-submit"/>
          </div>
        </form>
      </div>
    </div>
  </div>
    {% verbatim %}
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{$state.href('spm.homepage')}}">Skimia Project Manager</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a>Menu</a></li>
      </ul>

      <section class="top-bar-section">
        
        <!-- Right Nav Section -->
        <ul class="right">
          <div ng-show="user.authenticated">
            <li class="has-dropdown active">
              <a>{{user.name}}</a>
              <ul class="dropdown">
                <li><a class="button"  ng-click="logout()">Déconnecter</a></li>
              </ul>
            </li>
          </div>
          <div ng-show="!user.authenticated">
            <li class=" active">
              <a ng-click="showLogin()">Connexion</a>
            </li>
          </div>
        </ul>
      
      
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-form">
          <a href="{{$state.href('spm.about')}}" class="button">v {% endverbatim %}{{version}}{%verbatim%}-{{rev}}</a>
        </li>
        <li class="divider"></li>
        <li><a href="{{$state.href('spm.announcement.list')}}">Annonces</a></li>
        <li class="divider"></li>
        <li class="has-dropdown" ng-show="user.authenticated">
          <a href="{{$state.href('spm.project.list')}}">Projets</a>
          <ul class="dropdown">
            <li ng-repeat="project in projects">
              <a href="{{$state.href('spm.project.show',{projectId : project.id})}}">{{project.name}}</a>
            </li>
          </ul>
        </li>

      </ul>
    </section>
  </nav>
  {% endverbatim %}
{% verbatim %}
<message-center></message-center>
{% endverbatim %}
<div ui-view class="spm-container">

</div>
{{app_javascript()}}
<script>
  (function(jQuery){
        
  jQuery( document ).ready( function() {
    $(document).foundation();
    prettyPrint();
                
  } );
 
}(jQuery))
</script>
</body>
</html>